
.form-container{
    width: 25%;
    padding: 5%;
    margin-top: 5%;
    margin: auto;
    background-color: antiquewhite;
}
input[type=text], select{
    padding: 10px;
    margin: 10px 0;
    border-radius: none;
    border: 2px solid gray;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
   background-color: rgba(249,249,249,255);
}
input[type=email] {
    padding: 10px;
    margin: 10px 0;
    border-radius: none;
    border: 2px solid gray;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: rgba(249,249,249,255);
}
